.alert-error
  - @user.errors.full_messages.each do |msg|
    = msg
    %br/
%br/

.span6
  = render 'form'

%br/
.span3    
  .row  
    = link_to image_tag("facebook.jpg", :height => '80px', :width => '80px'),'/auth/facebook'
  %br/  
  .row
    = link_to image_tag("twitter.jpg", :height => '80px', :width => '80px'),'/auth/twitter'
  %br/
  .row
    = link_to image_tag("google_logo.jpg", :height => '80px', :width => '80px'), google_signin_path 