<div class = 'alert-success'>
  <%= flash[:notice] %>
</div>
<h3 class='red_color'>
  <%= image_tag(current_user.fb_profile_photo('square')) if current_user.image %>
  Hi <%= current_user.full_name %> 
</h3>
<h1>List of Albums</h1>
<table class='table table-striped'>
  <% @albums.each do |album| %>
  <tr>
    <td>
      <%= album.name %>
    </td>
    <td>
      <%= link_to 'Show', {:action => 'show', :id => album.id} %>
    </td>
    <td>
      <%= link_to 'Edit', {:action => 'edit', :id => album.id} if album.user == current_user %>
    </td>
    <td>  
      <%= link_to 'Destroy', {:action => 'destroy', :id => album.id} if album.user == current_user %>
    </td>
  </tr>  
  <% end %>
</table>