<div class = 'alert-success'>
  <%= flash[:notice] %>
</div>
<h1>List of Albums</h1>
<table class='table table-striped'>
  <% current_user.albums.each do |album| %>
  <tr>
    <td>
      <%= album.name %>
    </td>
    <td>
      <%= link_to 'Show', {:action => 'show', :id => album.id} %>
    </td>
    <td>
      <%= link_to 'Edit', {:action => 'edit', :id => album.id} %>
    </td>
    <td>  
      <%= link_to 'Destroy', {:action => 'destroy', :id => album.id} %>
    </td>
  </tr>  
  <% end %>
</table>