.alert-error
  - @user_session.errors.full_messages.each do |msg|
    = msg
    %br/
%br/

.span5
  = render 'form'
%br/
.span2
  .row    
    = link_to image_tag("facebook.jpg", :height => '80px', :width => '80px'),'/auth/facebook'
  %br/
  %br/
  .row
    = link_to image_tag("twitter.jpg", :height => '80px', :width => '80px'),'/auth/twitter' 
.span2
  .row
    = link_to image_tag("google_logo.jpg", :height => '80px', :width => '80px'), google_signin_path